@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.draw-up-documents__flex {
  /* border: 1px solid black; */
}

.draw-up-documents__column {
  /* border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0px 0px 0px;
}

.draw-up-documents__item {
  padding: 0 15px;
  margin: 20px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  /* border: 1px solid green; */
}

.draw-up-documents__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 190px;
  background: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.0677994);
  padding: 33px 0;
  height: 100%;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.draw-up-documents__card:hover {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.draw-up-documents__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 15px 0;
}

.draw-up-documents__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 201px;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.advantages {
  background-color: #F6F6F6;
  padding: 40px 0px;
}

.advantages__flex {
  margin: 100px 0px 0px 0px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* align-items: center; */
}

.advantages__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  /* height: 100%; */
  padding: 0px 10px;
  /* border: 1px solid red; */
}

.advantages__card {
  /* height: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex: 1 0 1px; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__photo {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin: 0px 0px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.advantages__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1px;
          flex: 1 1 1px;
}

.advantages__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  height: 100%;
}

.advantages__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #333333;
}

.programs__flex {
  margin: 50px 0px 0px 0px;
}

.programs__row {
  margin: 35px -15px 0px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.programs__column {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0px 15px;
}

.programs__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0px;
  /* 	padding: 27px; */
}

.programs__card:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.programs__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
  overflow: hidden;
}

.programs__photo img {
  display: block;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.programs__title {
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  color: #333333;
  margin: 15px 0px 0px 0px;
  /* padding: 3px; */
  max-width: 207px;
}

.programs__subtitle {
  margin: -5px 0px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #53B43B;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.programs__subtitle:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -16px;
  z-index: 1;
  background: url("../img/programs/round-done-button.svg") 0 0 no-repeat;
  width: 20px;
  height: 20px;
}

.programs__cash {
  margin: 20px 0px 0px 0px;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}

.approvals-certificates {
  background-color: #f6f6f6;
}

.approvals-certificates__flex {
  margin: 50px 0px 0px 0px;
  padding: 20px 0px 50px;
}

.approvals-certificates__row {
  margin: 50px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.approvals-certificates__column {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.approvals-certificates__column:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
}

.news-promotions__row {
  margin: 50px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: flex-start; */
}

._no-webp .news-promotions__colum{
  background: url("../img/news-promotions/1.png") center/cover no-repeat; }

.news-promotions__colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  height: 100%;
}

.news-promotions__card {
  /* padding: 0px 20px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0px 50px 25px;
  height: 100%;
}

.news-promotions__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  max-width: 259px;
}

.news-promotions__title span {
  color: #86ADEF;
}

.news-promotions__subtitle {
  margin: 25px 0px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  max-width: 240px;
}

.news-promotions__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.news-promotions__coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-promotions__iner {
  margin: 0px -25px;
  max-width: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex: 0 0 262px; */
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
  margin: 0px 0px 0px 15px;
  height: 100%;
}

.news-promotions__item {
  padding: 23px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  height: 100%;
}

.news-promotions__item:hover {
  cursor: pointer;
}

.news-promotions__item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.news-promotions__photo {
  display: inline-block;
  overflow: hidden;
}

.news-promotions__photo img {
  display: block;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.news-promotions__date {
  margin: 10px 0px 0px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ABABAB;
}

.news-promotions__suptitle {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  margin: 10px 0px 0px 0px;
  color: #333333;
}

.news-promotions__discription {
  margin: 5px 0px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.news-promotions__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-promotions__btn {
  padding: 15px 30px;
  border: 2px solid #6D81CC;
  border-radius: 3px;
  color: #6D81CC;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.news-promotions__btn:hover {
  color: #fff;
  background-color: #6D81CC;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: lato;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

._no-webp .header{
  background: url("../img/header/bg.jpg") center/cover no-repeat; }

.header__colum {
  padding: 20px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: inherit;
  position: fixed;
}

.header__row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: space-between; */
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__logotip {
  font-size: 52px;
  line-height: 63px;
  color: #E1E1E1;
  font-weight: 600;
  position: relative;
}

.header__logotip:after {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #89AFEF;
  position: absolute;
  top: 15px;
  right: -25px;
  z-index: 1;
}

.header__logo-discription {
  padding: 0px 0px 0px 55px;
  font-size: 14px;
  line-height: 16px;
  color: #5D5D5D;
  font-weight: 500;
}

.header__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: space-between; */
}

.header__item {
  margin: 0px 10px 0px 0px;
}

.header__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.header__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__link_watsap {
  background: #2DD038;
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
}

.header__link_viber {
  background: #7B519D;
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
}

.header__link_telefram {
  background: #5BBAF0;
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
}

.header__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 0px 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  color: #333333;
  width: 200px;
}

.header__number:before {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  content: "";
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  margin: 0px 5px 0px 0px;
  background: url("../img/header/call-answer.svg") 0 0 no-repeat;
}

.header__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 120%;
  color: #333333;
  width: 200px;
  padding: 0px 0px 0px 32px;
  position: relative;
}

.header__email:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 0px;
  background: url("../img/header/111.svg") 0 0 no-repeat;
}

.header__button {
  margin: 0px 0px 0px 29px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.header__btn {
  padding: 15px 30px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
}

.header__row-two {
  margin: 25px 0px 0px 0px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__drop {
  /* flex: 1 1 auto; */
}

.header__links {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.header__links:hover {
  border-bottom: 3px solid #333333;
  padding: 0px 0px 5px 0px;
  border-radius: 10px;
}

.header__intro {
  padding: 250px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__coll {
  /* border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__coll img {
  margin: 0px 100px -5px 0px;
}

.header__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  color: #333333;
  padding: 0px 0px 0px 0px;
}

.header__discription {
  margin: 50px 0px 0px 0px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

.header__discription span {
  font-weight: 900;
}

.header__button_blue {
  margin: 50px 0px 0px 0px;
}

.header__btn_blue {
  padding: 10px 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), color-stop(100%, #6C80CB), to(#6C80CB));
  background: -o-linear-gradient(left, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
}

.footer {
  background-color: #333333;
}

.footer__row {
  padding: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  padding: 30px 0px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.footer__services {
  margin: 25px 0px 0px 0px;
}

.footer__link {
  font-size: 14px;
  line-height: 25px;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.footer__link:hover {
  text-decoration: underline;
  color: #E88952;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 0px 0px 0px;
}

.footer__links {
  padding: 0px 0px 0px 30px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px 0px 0px;
}

.footer__links:hover {
  text-decoration: underline;
  color: #E88952;
}

.footer__links:first-child {
  margin: 0px 0px 0px 0px;
}

.footer__links_telegram {
  position: relative;
  /* 	align-items: center; */
}

.footer__links_telegram:hover {
  text-decoration: underline;
  color: #F6BD60;
}

.footer__links_telegram:hover:before {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

.footer__links_telegram:before {
  /* align-self: center; */
  position: absolute;
  top: 6px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  z-index: 1;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/header/telegram.svg") 0 0 no-repeat;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}

.footer__links_viber {
  position: relative;
  /* 	align-items: center; */
}

.footer__links_viber:hover {
  text-decoration: underline;
  color: #F6BD60;
}

.footer__links_viber:hover:before {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

.footer__links_viber:before {
  /* align-self: center; */
  position: absolute;
  top: 6px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  z-index: 1;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/header/viber-logo.svg") 0 0 no-repeat;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}

.footer__links_watsap {
  position: relative;
  /* 	align-items: center; */
}

.footer__links_watsap:hover {
  text-decoration: underline;
  color: #F6BD60;
}

.footer__links_watsap:hover:before {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

.footer__links_watsap:before {
  /* align-self: center; */
  position: absolute;
  top: 6px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  z-index: 1;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/header/WhatsApp.svg") 0 0 no-repeat;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}

.footer__contact {
  margin: 40px 0px 0px 0px;
}

.footer__number {
  position: relative;
}

.footer__number a {
  padding: 0px 0px 0px 30px;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer__number a:hover {
  text-decoration: underline;
  color: #F6BD60;
}

.footer__number a:hover:before {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__number a:before {
  position: absolute;
  top: 0px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  z-index: 1;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/call-answer.svg") 0 0 no-repeat;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.footer__email {
  margin: 10px 0px 0px 0px;
  position: relative;
}

.footer__email a {
  padding: 0px 0px 0px 30px;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer__email a:hover {
  text-decoration: underline;
  color: #F6BD60;
}

.footer__email a:hover:before {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__email a:before {
  position: absolute;
  top: 2.5px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  z-index: 1;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/Shape.svg") 0 0 no-repeat;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.footer__button {
  margin: 60px 0px 0px 0px;
}

.footer__btn {
  padding: 15px 60px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
}

.footer__logo {
  margin: 70px 0px 0px 0px;
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  color: rgba(255, 255, 255, 0.12653);
}

.footer__copyrignt {
  margin: 50px 0px 0px 0px;
  border-top: 1px solid #4E4E4E;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #565656;
  padding: 20px 0px;
}

/* -------------- */

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: 'Gilroy';
  font-weight: 400;
}

/* -------------- */

._container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.section {
  margin: 40px 0px 0px 0px;
}

.section__h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
}

._webp .news-promotions__colum{ background: url(../img/news-promotions/1.webp) center/cover no-repeat; }

._webp .header{ background: url(../img/header/bg.webp) center/cover no-repeat; }